<a href="https://colab.research.google.com/github/Tomistong/ExcelPythonACD/blob/main/ExcelPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

In [ ]:
/content/sample_data/california_housing_test.csv

In [2]:
# 基本匯入
import pandas as pd
df = pd.read_excel(r"/content/sample_data/data/test.xlsx")
df

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [10]:
filenamestr=""

In [17]:
path="/content/sample_data/data/test.xlsx"

In [11]:
filenamestr=path+"text.xlsx"

In [9]:
path

'/content/sample_data/data/'

In [12]:
filenamestr

'/content/sample_data/data/text.xlsx'

In [18]:
df_sheetname=pd.read_excel(path,sheet_name="工作表1")

In [16]:
df_sheetname

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [19]:
df

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [20]:
df.shape

(4, 4)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   編號      4 non-null      object
 1   年齡      4 non-null      int64
 2   性別      4 non-null      object
 3   註冊時間    4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 256.0+ bytes

In [23]:
df.describe()

              年齡
count   4.000000
mean   39.500000
std    16.542874
min    16.000000
25%    34.750000
50%    44.000000
75%    48.750000
max    54.000000

In [32]:
df[["編號"]]

   編號
0  A1
1  A2
2  A3
3  A4

In [39]:
df.iloc[[0,2]]

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
2  A3  47  女 2018-08-10

In [41]:
df.iloc[0:2]

   編號  年齡 性別       註冊時間
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09

In [46]:
df.iloc[[0,2],[2,3]]

  性別       註冊時間
0  男 2018-08-08
2  女 2018-08-10

In [47]:
df.iloc[0:2,[2,3]]

  性別       註冊時間
0  男 2018-08-08
1  女 2018-08-09

In [48]:
df.iloc[0:3,1:3]

   年齡 性別
0  54  男
1  16  女
2  47  女